JDK_TOOL_NAME=jdk21
REGISTRY_CREDENTIALS_ID=registry-creds
KUBECONFIG_CREDENTIALS_ID=kubeconfig
IMAGE_REGISTRY=registry.local/demo
NAMESPACE=demo1-dev
APP_NAME=demo1
SERVICE_PORT=8080
REPLICAS=1
CPU_REQUEST=500m
CPU_LIMIT=2
MEMORY_REQUEST=1024Mi
MEMORY_LIMIT=2560Mi
INGRESS_ENABLED=true
INGRESS_HOST=demo1.apps.example.local
INGRESS_CLASS_NAME=nginx
ROUTE_ENABLED=true
ROUTE_HOST=demo1.apps.example.local
IMAGE_PULL_SECRET=
SERVICE_ACCOUNT_NAME=demo1
CONFIG_KEYSTORE_TEST=testsign
SECRET_KEYSTORE_PASSWORD=
