JENKINS_URL=http://localhost:9090
JENKINS_USERNAME=thaicong1995
JENKINS_API_TOKEN=
JOB_NAME=demo1-ocp
SCM_URL=https://github.com/thaicong1995/DSSDeployCICD.git
SCM_BRANCH=main
SCRIPT_PATH=Jenkinsfile
